<p style="color: green"><%= notice %></p>

<h1>Climbers</h1>

<div id="climbers" class="container">
  <div class="row">
    <% @climbers.each do |climber| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <%= render climber %>
            <p class="card-text"><%= link_to "Show this climber", climber %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
