// Remove the request from the pending list
$("#event_request_<%= @event_request.id %>").remove();

// Create the link to the climber's profile as a JavaScript string
var climberProfileLinkHtml = "<%= j(link_to(@event_request.user.username, climber_path(@event_request.user.climber))) if @event_request.user.climber %>";


// Append to the accepted list and ensure the list is wrapped in a <ul> with id 'rejected_guests_list'
$("<li class='list-group-item'>" + climberProfileLinkHtml + "</li>").appendTo("#rejected_guests_list");
