/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* custom.css */
.simple-calendar .calendar-heading {
  text-align: center;
}

/* Styles for date and time separation */
.avail-date {
  margin-right: 10px; 
  font-weight: bold; 
}

.avail-time {
  color: #555;
}

.calendar-cell {
  height: 240px; 
  width: 173px; 
  overflow: auto; /* adds scrollbar if content is too long */
}

@media (max-width: 768px) {
  .calendar-cell {
      height: 100px;
      width: 100px;
  }
}
